@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'inter', sans-serif;

}

html {
  scroll-behavior: smooth;
}

/* Add global text color */
body {
  color: #d2d3d4;
  background-color: #0A192F;
}

/* Override any potential mobile browser defaults */
@media (max-width: 768px) {
  body, html {
    color: #d2d3d4;
    background-color: #0A192F;
  }
}